div {
    margin: 5px;
    width: 1129px;
    background-color: #abcdef;
}

p {
    font-family: serif;
    font-size: 30px;
}

.left {
    width: 300px;
    float: left;
    background-color: red;
}

.right {
    width: 300px;
    float: right;
    background-color: #abcd00;
}
