div {
    margin: 5px;
    width: 1129px;
    background-color: #abcdef;
}

p {
    font-family: serif;
    font-size: 30px;
}

.left {
    width: 400px;
    background-color: red;
}

.right {
    margin-left: 500px;
    background-color: #abcd00;
}
